<?xml version="1.0" encoding="UTF-8" ?>
<Configuration xmlns="http://logging.apache.org/log4j/2.0/config" status="WARN" name="projectName">
    <Appenders>
        <Console name="stdout" target="SYSTEM_OUT">
            <PatternLayout pattern="[%t] %-5p | %-60c | %m (%F:%L)%n"/>
        </Console>
    </Appenders>
    <Loggers>
        <Logger name="org.hibernate" level="OFF" additivity="false">
            <AppenderRef ref="stdout" />
        </Logger>
        <Root level="info">
            <AppenderRef ref="stdout" />
        </Root>
    </Loggers>
</Configuration>